*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Manrope", sans-serif;
  background-color: hsl(210deg, 46%, 95%);
}

.hidden {
  display: none !important;
}

.card {
  position: relative;
  width: 330px;
  border-radius: 10px;
  background-color: white;
}
.card__img-mobile {
  background-image: url("/img/drawers.jpg");
  height: 220px;
  background-size: cover;
  border-radius: 10px 10px 0 0;
}
.card__img-desktop {
  display: none;
}
.card__body {
  padding: 30px;
  padding-bottom: 20px;
}
.card__tittle-first {
  margin-bottom: 10px;
}
.card__tittle-first p {
  font-size: 1.7rem;
  font-weight: 700;
  color: hsl(217deg, 19%, 35%);
}
.card__tittle-second p {
  font-size: 1.3rem;
  line-height: 20px;
  color: hsl(212deg, 23%, 69%);
}
.card__footer {
  display: flex;
  margin-top: 20px;
}
.card__footer img {
  width: 40px;
  border-radius: 50%;
}
.card__footer-date {
  margin-left: 10px;
}
.card__footer-date p {
  font-size: 1.3rem;
  line-height: 20px;
}
.card__footer-date .name {
  font-weight: bold;
  color: hsl(217deg, 19%, 35%);
}
.card__footer-date .date {
  color: hsl(212deg, 23%, 69%);
}
.card__footer button {
  margin-left: auto;
  padding: 1em;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: hsl(210deg, 46%, 95%);
}
.card__footer button:hover {
  background-color: hsl(214deg, 17%, 51%);
}
.card__footer button:hover i {
  color: white;
}
.card__footer button i {
  color: hsl(214deg, 17%, 51%);
}
.card__footer-share {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  padding: 20px 30px;
  background-color: hsl(217deg, 19%, 35%);
  border-radius: 0 0 10px 10px;
}
.card__footer-share .share {
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: hsl(212deg, 23%, 69%);
}
.card__footer-share a {
  font-size: 2em;
  color: white;
}
.card__footer-share .btn2 {
  margin-left: auto;
  padding: 0.8em;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: hsl(214deg, 17%, 51%);
}
.card__footer-share .btn2 i {
  color: white;
}
.card__footer-share-triangle {
  display: none;
}
.card__footer-share2 {
  display: none;
}
.card__footer-desktop {
  display: none;
}

@media (min-width: 1000px) {
  .card {
    display: flex;
    width: 740px;
    height: 280px;
  }
  .card__img-mobile {
    height: 280px;
    padding: 14em;
    background-image: url("/img/drawers.jpg");
    background-size: cover;
    border-radius: 10px 0 0 10px;
  }
  .card__tittle-first {
    margin-bottom: 10px;
  }
  .card__tittle-first p {
    font-size: 2.3rem;
    font-weight: 700;
    color: hsl(217deg, 19%, 35%);
  }
  .card__footer {
    margin-top: auto;
  }
  .card__body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .card__footer-share {
    width: 250px;
    border-radius: 10px;
    right: -75px;
    bottom: 90px;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
  }
  .card__footer-share .btn2 {
    display: none;
  }
  .card__footer-share-triangle {
    display: block;
    width: 20px;
    height: 20px;
    background-color: inherit;
    position: absolute;
    bottom: -10px;
    transform: rotate(45deg);
  }
}/*# sourceMappingURL=main.css.map */